.club-card {
    color: black;
    text-decoration: none;
    :hover {
        background-color: #ebebeb;
        color: black;
    }

    .card {
        border: none;
        border-bottom: 1px solid darkgray;
        border-radius: 0%;
    }

    .reading {
        opacity: 75%;
        font-style: italic;
    }
    

    h5 {
        font-size: 20px;
        font-family: 'Playfair Display', serif;
        font-weight: 700;
    }

}