.header {

    #title {
        font-size: 24px;
        font-family: 'Playfair Display', serif;
        font-weight: 700;
    }
    #sub-title {
        font-size: 20px;
        font-family: 'Playfair Display', serif;
        font-weight: 700;
    }
}